<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BusinessUnit" value="DE22AF18AF9393F4EAD85D59E9C6F068ADA7DD8449FAFD8BD150D83D5776086C2B2871232FF57A082DEC924E72F7A902"/>
    <add key="Server" value="(Local)"/>
    <add key="Uid" value="Sa"/>
    <add key="Pwd" value=""/>
    <add key="ServerPath" value="\\KcNetServer\"/>
    <add key="DbPath" value="D:\SDOPDBSqldata\"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
