<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="BusinessUnit" value="DE22AF18AF9393F4EAD85D59E9C6F068ADA7DD8449FAFD8BD150D83D5776086C2B2871232FF57A082DEC924E72F7A902" />
    <add key="Enterprise" value="DE22AF18AF9393F4EAD85D59E9C6F068ADA7DD8449FAFD8BA339192B092A3E561FFAC42F7BF69B0D46ECBCE206884281" />
    <add key="A0001" value="DE22AF18AF9393F4EAD85D59E9C6F068ADA7DD8449FAFD8BA339192B092A3E561FFAC42F7BF69B0D46ECBCE206884281" />
    <add key="A0002" value="DE22AF18AF9393F4EAD85D59E9C6F068ADA7DD8449FAFD8BA339192B092A3E561FFAC42F7BF69B0D46ECBCE206884281" />
    <add key="Customer" value="DE22AF18AF9393F4EAD85D59E9C6F068ADA7DD8449FAFD8B87BE8D22055B609F04B199BE202903946DE997547F1B1D5D" />
    <add key="Label" value="DE22AF18AF9393F4EAD85D59E9C6F068ADA7DD8449FAFD8BDC64E20F9932365BD114260509047A22D0C0BE9B7C660AE329AFD9A79743F8AE" />
    <add key="FTP" value="2C393660BAFDC2FACA1A0AE84199BAF93C5201B552C75A180C0CC4FFC48F2E06" />
    <add key="UploadPath" value="E:\\Upload\\" />
    <add key="ImportPath" value="E:\\Upload\\" />
    <add key="RptPath" value="E:\\RptFiles\\" />
  </appSettings>
  <system.web>
    
    <httpRuntime maxRequestLength="200000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="forums" loginUrl="~/WebUI/Start/Start1.aspx" protection="All" timeout="60"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorMsg.aspx"/>
    <pages theme="Default" styleSheetTheme="Default"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" timeout="30"/>
    <httpHandlers>
      <add path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>  
      <remove name="FastReportHandler"/>
      <add name="FastReportHandler" path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport" />
    </handlers>

  </system.webServer>
</configuration>